In [1]:
import MySQLdb

In [3]:
cxn = MySQLdb.connect(user='root', password='password')

In [7]:
cxn.query('CREATE DATABASE test')

ProgrammingError: (1007, "Can't create database 'test'; database exists")

In [9]:
cxn.query("grant all on test.* to ''@'localhost'")

OperationalError: (1410, 'You are not allowed to create a user with GRANT')

In [10]:
cxn

In [16]:
cxn = MySQLdb.connect(db='test', user='root', password='password')
cur = cxn.cursor()

In [17]:
cur.execute('create table users(login varchar(8), userid int)')

0

In [18]:
cur.execute("insert into users values('john', 7000)")

1

In [19]:
cur.execute("insert into users values('jane', 7001)")

1

In [20]:
cur.execute("insert into users values('bob', 7200)")

1

In [21]:
cur.execute("select * from users where login like '%%'")

3

In [22]:
for data in cur.fetchall():
    print('%s\t%s' % data)

john	7000
jane	7001
bob	7200

In [23]:
cur.execute("update users set userid=7100 where userid=7001")

1

In [24]:
cur.execute("select * from users")

3

In [25]:
for data in cur.fetchall():
    print('%s\t%s' % data)

john	7000
jane	7100
bob	7200

In [26]:
cur.execute("delete from users where login='bob'")

1

In [27]:
cur.execute("drop table users")

0

In [28]:
cur.close()

In [29]:
cxn.commit()

In [30]:
cxn.close()

In [31]:
import sqlite3

connect()方法，可以判断一个数据库文件是否存在，如果不存在就自动创建一个，如果存在的话，就打开那个数据库。

In [33]:
cxn = sqlite3.connect('test.db')

In [34]:
cur = cxn.cursor()

In [35]:
cur.execute("create table users(login varchar(8), userid integer)")

In [36]:
cur.execute("insert into users values('litian', 100)")

In [37]:
cur.execute("insert into users values('gouzei', 110)")

In [38]:
cur.execute("select * from users")

In [39]:
for eachUser in cur.fetchall():
    print(eachUser)

('litian', 100)
('gouzei', 110)

In [40]:
cur.execute("drop table users")

In [41]:
cur.close()

In [42]:
cxn.commit()

In [43]:
cxn.close()