In [1]:
lax_coordinates = (33.9423, -188.123412)

In [2]:
city, year, pop, chg, area = ('Tokyo', 2003, 324050, 0.66, 8012)

In [5]:
traveler_ids = [('USA', '31185885'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

In [6]:
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31185885

In [7]:
for county, _ in traveler_ids:
    print(county)

USA
BRA
ESP

元组拆包

另外一个很优雅的写法当属不使用中间变量交换两个变量的值：

In [8]:
latitude, longtitude = lax_coordinates

In [9]:
latitude

33.9423

In [13]:
longtitude, latitude = latitude, longtitude

In [14]:
longtitude

-188.123412

In [15]:
latitude

33.9423

还可以用 * 运算符把一个可迭代对象拆开作为函数的参数

In [16]:
divmod(20, 8)

(2, 4)

In [17]:
t = (20, 8)

In [18]:
divmod(*t)

(2, 4)

In [19]:
quotient, remainder = divmod(*t)

In [20]:
quotient

2

In [21]:
remainder

4

In [22]:
import os

In [23]:
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')

In [25]:
filename

'idrsa.pub'

In [26]:
a, b, *rest = range(5)

In [28]:
print(a, b, rest)

0 1 [2, 3, 4]

In [30]:
a, b, *rest = range(3)
print(a, b, rest)

0 1 [2]

In [31]:
a, b, *rest = range(2)
print(a, b, rest)

0 1 []

In [34]:
a, *body, c, d = range(5)
print(a, body, c, d)

0 [1, 2] 3 4

嵌套元组拆包

In [35]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [36]:
print('{:15} | {:^19} | {:^9}'.format('', 'lat.', 'long.'))

                |        lat.         |   long.

In [45]:
fmt = '{:15} | {:9.4f} | {:9.4f}'

In [49]:
print('{:15} | {:^19} | {:^9}'.format('', 'lat.', 'long.'))
for name, cc, pop, (latitude, longtitude) in metro_areas:
    if longtitude <= 0:
        print(fmt.format(name, latitude, longtitude))

                |        lat.         |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

具名元组

In [51]:
from collections import namedtuple

In [53]:
City = namedtuple('City', 'name country population coordinates')

In [55]:
tokyo = City('Tokyo', 'JP', 36.933, (35.1234,130.123412))

In [56]:
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.1234, 130.123412))

In [57]:
tokyo.population

36.933

In [58]:
tokyo.coordinates

(35.1234, 130.123412)

In [59]:
tokyo[1]

'JP'

In [68]:
City._fields

('name', 'country', 'population', 'coordinates')

In [69]:
LatLong = namedtuple('LatLong', 'lat long')

In [70]:
delhi_data = ('Dehi NCR', 'IN', 21.932, LatLong(29.1234, 33.12341234))

In [71]:
delhi = City._make(delhi_data)

In [72]:
delhi

City(name='Dehi NCR', country='IN', population=21.932, coordinates=LatLong(lat=29.1234, long=33.12341234))

In [73]:
delhi._asdict()

OrderedDict([('name', 'Dehi NCR'),
             ('country', 'IN'),
             ('population', 21.932),
             ('coordinates', LatLong(lat=29.1234, long=33.12341234))])

作为不可变列表的元组